.locationWrapper {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 8px;
  position: relative;
}

.locationLabel {
  font-weight: 500;
  color: rgba(16, 24, 40, 0.6);
}

.locationInputWrapper {
  position: relative;
}

.locationInput {
  padding: 18px;
  padding-left: 44px;
  background-color: rgba(247, 247, 247, 1);
  border: none;
  border-radius: 10px;
  color: rgba(16, 24, 40, 1);
  width: 100%;
}

.mapPinIcon {
  fill: transparent;
  stroke: rgba(16, 24, 40, 1);
  position: absolute;
  top: 16px;
  left: 18px;
}
