@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: inter, sans-serif;
  line-height: 1.5;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1156px) {
  .container {
    max-width: 1156px;
    padding: 0 15px;
  }
} */
